<div class="main">
  <button id="scissor" class="btn" (click)="onClick(STATE_SCISSOR)"
    [ngClass]="(toolbar$|async).state == STATE_SCISSOR? 'active':''" *ngIf="(toolbar$ | async).config && (toolbar$ | async).config.payload.toolbar.scissor"></button>
  <button id="eraser" class="btn" (click)="onClick(STATE_ERASER)"
    [ngClass]="(toolbar$|async).state == STATE_ERASER? 'active':''" *ngIf="(toolbar$ | async).config && (toolbar$ | async).config.payload.toolbar.eraser"></button>
  <button id="glue" class="btn" (click)="onClick(STATE_GLUE)"
    [ngClass]="(toolbar$|async).state == STATE_GLUE? 'active':''" *ngIf="(toolbar$ | async).config && (toolbar$ | async).config.payload.toolbar.glue"></button>
</div>
