.btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  border: 1px solid lightblue;
  background-color: white;
  height: 50px;
  margin-left: 16px;
}
.main {
  text-align: center;
}
